{% extends "base.html" %}

{% block title %}Register Patient {% endblock %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md mx-auto my-5">
            <div class="card bg-transparent mt-5 border-0">
                <div class="text-light fw-bold h4 mb-4"> Register Patient <hr></div>
                <form method="POST" class="form mx-auto">{% csrf_token %}
                    {{ form.as_p }}
                    <div class="">
                        <input type="submit" class="btn btn-md btn-danger" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}